# Project
sqlalchemy>=2.0.41
streamlit

langchain
langchain-core
langchain-community
langgraph

langchain-openai
google-generativeai
langchain-google-genai

docx2txt

# Other dependencies
pylint
pycodestyle
black
interrogate